__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
web_app/database.db
bone_fracture_system/database.db
*.log
.ipynb_checkpoints/
.DS_Store

bone_fracture_system/static/uploads/*
!bone_fracture_system/static/uploads/.gitkeep
bone_fracture_system/static/outputs/*
!bone_fracture_system/static/outputs/.gitkeep
bone_fracture_system/weights/*
!bone_fracture_system/weights/.gitkeep
!bone_fracture_system/weights/README.md
bone_fracture_system/runs/
bone_fracture_system/logs/
bone_fracture_system/data/raw/
bone_fracture_system/data/processed/
bone_fracture_system/data/classification/train/
bone_fracture_system/data/classification/val/

*.h5
*.pt
*.pth
*.onnx
*.joblib
web_app/static/uploads/*
!web_app/static/uploads/.gitkeep
web_app/static/outputs/*
!web_app/static/outputs/.gitkeep
logs/
weights/*
!weights/.gitkeep
!weights/README.md
